@charset "utf-8";
body{
	margin:0;
	margin-left:0 !important;
	/*overflow: hidden; /* Hide scrollbars */
}
#index_main {
    display: flex;
		/* height: 1637px; */
		/* height: 4000px; */
		/* position: absolute; */
}

#index_menu {
	padding: 1em;
	background-color: beige;
    display: flex;
    flex-direction: column;
	height: fit-content;
	z-index:9999;
}

#debug_content{
	display: none;
}
#load_content {
    margin:0 0 0 0;
	width: fit-content;
}

