@charset "UTF-8";

body
{
	margin:0;
}
#search_contain {
	display: inline-flex;
    flex-wrap: wrap;
}
div#SK_filter, #checkbox {
    display: inline-flex;
    flex-wrap: wrap;
}
#checkbox>div {
    border: solid 1px;
    padding: 0 0.2em;
}
#main_content {
	display: flex;
}
.data_room
{
	/*max-width:1440px;*/
	border: 3px solid #000;
	/*overflow:hidden;*/
	/*position: relative;*/
	word-break: break-all;
}
.dr0 {
    flex-direction: column;
    margin: 0.2em;
    border: 1px solid #D4AEAE;
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}
.dr0, .dr, .dr1 {
	display: inline-block;
	/*margin: 5px;*/
	/*border: 1px solid #8AC007;*/
	/*height: 1em;*/
	padding:0.15em 0;
	width: 100%;
}
.br {
	display: none;
}
.br0 {
    flex-direction: column;
    margin: 0.2em;
    border: 1px solid #D4AEAE;
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}
.br0, .br, .br1 {
	display: inline-block;
	/*margin: 5px;*/
	/*border: 1px solid #8AC007;*/
	/*height: 1em;*/
	padding:0.15em 0;
	width: 100%;
}
.dr {
	display: none;
}

.data_room_con, .data_room_con1
{
	display: flex;
	   /* position: relative;*/
	       flex-wrap: wrap;
}
div#qty_content {
    max-width: 26em;
}
.qty_room_con, .qty_room_con1 {
    display: flex;
	text-align: center;
}

.qty_con1, .qty_con3 {
    width: 5em;
    min-width: 5em;
}

.qty_con2 {
    width: 100%;
	display: flex;
    justify-content: center;
}

.pn {
	display: inline-flex;
	flex-direction: column;
	margin: 0.2em;
	border: 1px solid #8AC007;
}

.bn {
	display: inline-flex;
	flex-direction: column;
	margin: 0.2em;
	border: 1px solid #8AC007;
	/*width: 100%;*/
}
.pro_con0,.img-responsive
{
	min-width:8em;
	width:10em;
	flex:1;
}
.img-responsive
{
	width:100%;
	height:auto;
}
.pro_con1
{
	min-width:8em;
	width:10em;
	flex:1;
}
.pro_con2
{
	flex:6;
	/*min-width:18em;*/
	max-width: 750px;
}
.pro_con3
{
	min-width:4.6em;
	width:6em;
	flex:1;
	    position: relative;
}
.pro_con4
{
	/*display: none;*/
	min-width:6em;
	width:7em;
	flex:1;
}
.pro_con5 {
	/*display: none;*/
	min-width:3.4em;
	flex:0.5;
}
.data_room1 {
    background-color: #9e2e3e;
    color: white;
}
.data_room2 {
    background-color: #191c2b;
    color: white;
}
.bom_con1.dr0, .bom_con2.dr0, .bom_con3.dr0, .bom_con4.dr0 {
    background-color: #b99768;
}

.bom_con1
{
	min-width:8em;
	width:10em;
	/*flex:1;*/
}
.bom_con2
{
	flex:1;
	min-width:0;
	max-width: 750px;
}
.bom_con3
{
	min-width:3em;
	width:3em;
	/*flex:1;*/
}
.bom_con4
{
	min-width:7em;
	width:8em;
	flex:1;
}

.use_con1
{
	min-width:8em;
	width:10em;
	flex:1;
}
.use_con2
{
	/*flex:1;*/
	min-width: 2.4em;
    width: 2.6em;
}
.use_con3
{
    min-width: 2.6em;
    width: 2.6em;
	/*flex:1;*/
}
.use_con4
{
	min-width:7em;
	width:8em;
	flex:1;
}

.pro_con6 {
	/*display: none;*/
    min-width: 3.4em;
    flex: 0.5;
	    position: relative;
}
.pro_con7 {
	/*display: none;*/
    min-width: 3.4em;
    flex: 0.5;
	    position: relative;
}
.pro_con8 {
	/*display: none;*/
    min-width: 3.4em;
    flex: 0.5;
	    position: relative;
}
.pro_con9 {
	display: none;
    min-width: 4.4em;
    flex: 0.5;
	    position: relative;
}
.sk_data5.dr1 {
    /*background-color: #9e2e3e;
	color: white;*/
}
.SK_SPEC {
    display: none;
    background-color: rgba(255, 228, 196, 0.95);
  /*  position: absolute;*/
	left: 0;
	right: 0;
    z-index: 1;
    width: 100%;
	    /*min-width: 26em;
    max-width: 1000px;*/
    min-height: 1.5em;
}
.SK_SPEC_tittle {
	background-color: #9e2e3e;
    color: white;
}

.SK_SMNETS_EN {
    display: none;
    background-color: rgba(255, 228, 196, 0.95);
	position: absolute;
	/*left: 0;*/
	right: -1px;
    z-index: 1;
    width: 36em;
	    /*min-width: 26em;
    max-width: 1000px;*/
    min-height: 1.5em;
	padding: 0.5em;
}
.pro_maker {
	display: none;
}
.pro_maker_c {    
	border: solid #e41d1d;
    border-width: 4px 2px 4px 2px;
}

.pro_c_t {
	display: inline-block;
}
#copy_statu {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 6em;
	height: 2em;
	font-size: 150%;
	margin: -1em -3em;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: wheat;
}
#show_SPEC_S3{
	/*display:block;*/
}
#statu_check {
	    display: inline-block;
    vertical-align: top;
}
.BOM {
	    display: none;
		    /*display: inline-block;*/
        width: 680px;
    right: 0;
    position: absolute;
    z-index: 1;
}
.USE {
	    display: none;
		    /*display: inline-block;*/
        width: 680px;
    right: 0;
    position: absolute;
    z-index: 1;
}
.qty {
    position: absolute;
    display: none;
    background-color: #7292bf;
    width: 26em;
    /*left: -21em;*/
	right:-1px;
	z-index:1;
}


@media only screen and (max-width: 704px) {
#statu_check {
	word-break: break-all;
}
.BOM {
	word-break: break-all;
	width: auto;
	position: static;
	z-index:0;
}
.USE {
	word-break: break-all;
	width: auto;
	position: static;
	z-index:0;
}
#main_content {
    display: block;
}
.data_room_con
{
	display: none;
}
.dr, .dr1
{
	display: inline-block;
	border: 1px solid #8AC007;
	padding:0.15em 0;
	width: 100%;
	margin-right: 0.4em;
}
.dr
{
	width: 5.6em;
	min-width: 4.6em;
	    border: 1px solid #D4AEAE;
    background-color: darkgrey;
    color: white;
    font-weight: bold;
	margin-right: 0.2em;
}
.dr1
{

}
.bom_data1.dr, .bom_data2.dr, .bom_data3.dr, .bom_data4.dr {
    background-color: #b99768;
}
.data_room_con1
{
	border: 1px solid #000;
	border-bottom: 5px solid #000;
	display: block;
}
.data_room_con2
{
	border: 1px solid #000;
	display: block;
}
.pn {
	display: flex;
	flex-direction: row;
	width: 100%;
	border: 0;
}

.pro_con0,.img-responsive
{
	min-width:8em;
	/*flex:1;*/
}
.img-responsive {
	width:auto;
	height:6em;
}
.pro_con1
{
	min-width:8em;
	/*flex:1;*/
}
.pro_con2
{
	flex:3;
	min-width:0;
}
.pro_con3
{
	min-width:5em;
	/*flex:1;*/
}
.pro_con4
{
	/*display: none;*/
	min-width:8em;
	/*flex:1;*/
}
.pro_con5 {
	/*display: none;*/
	min-width:0em;
	flex:1;
}
.pro_con6 {
	/*display: none;*/
	min-width:0em;
	flex:1;
}
.pro_con7 {
	/*display: none;*/
	min-width:0em;
	flex:1;
}
.pro_con8 {
	/*display: none;*/
	min-width:0em;
	flex:1;
}
.pro_con9 {
	display: none;
	min-width:0em;
	flex:1;
}
.SK_SPEC {
    /*width: 95%;*/
	min-width: 0;
	display: none;
}

.SK_SMNETS_EN {
	position: static;
	width: 100%;
	min-width: 0;
	display: none;
	padding: 0;
	flex:1;
}

#show_SPEC_S3{
	/*display:block;*/
}
#statu_check {
	display: block;
}

.qty {
    position: static;
	    display: none;
		width: 100%;
}
.qty_con1, .qty_con3 {
    min-width: 0;
}
div#qty_content {
    max-width: 100%;
}
}

