@charset "UTF-8";

body
{
	margin:0;
	margin-left:0.5em;
}
#data_add_btn, #data_modify_btn {
	height: 40px;
}

#search_contain {
	display: inline-flex;
    flex-wrap: wrap;
}
div#SK_filter, #checkbox {
    display: inline-flex;
    flex-wrap: wrap;
}

#show_data {
	min-height: 189.16px;
}
#checkbox>div {
    border: solid 1px;
    padding: 0 0.2em;
}
#main_content {
	display: flex;
}

#spec_content_title {
	margin-bottom:10px;
}
.data_room
{
	/*max-width:1440px;*/
	border: 3px solid #000;
	/*overflow:hidden;*/
	/*position: relative;*/
	/* word-break: break-all; */
}
.dr0 {
    flex-direction: column;
    margin: 0.2em;
    border: 1px solid #D4AEAE;
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}
.dr1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.dr0, .dr, .dr1 {
	display: inline-block;
	/*margin: 5px;*/
	/*border: 1px solid #8AC007;*/
	/*height: 1em;*/
	padding:0.15em 0;
	width: 100%;
}
.br {
	display: none;
}
.br0 {
    flex-direction: column;
    margin: 0.2em;
    border: 1px solid #D4AEAE;
    background-color: darkgrey;
    color: white;
    font-weight: bold;
}
.br0, .br, .br1 {
	display: inline-block;
	/*margin: 5px;*/
	/*border: 1px solid #8AC007;*/
	/*height: 1em;*/
	padding:0.15em 0;
	width: 100%;
}
.dr {
	display: none;
}
.data_room_con1
{
	height: 8em;
}

.data_room_con, .data_room_con1
{
	display: flex;
	   /* position: relative;*/
	       flex-wrap: wrap;
}
div#qty_content {
    max-width: 26em;
}
.qty_room_con, .qty_room_con1 {
    display: flex;
	text-align: center;
}

.qty_con1, .qty_con3 {
    width: 5em;
    min-width: 5em;
}

.qty_con2 {
    width: 100%;
	display: flex;
    justify-content: center;
}

.pn {
	display: inline-flex;
	flex-direction: column;
	margin: 0.2em;
	border: 1px solid #8AC007;
}

.bn {
	display: inline-flex;
	flex-direction: column;
	margin: 0.2em;
	border: 1px solid #8AC007;
	/*width: 100%;*/
}
.pro_con0,.img-responsive
{
	width:9em;
	flex: 10;
}
.img-responsive
{
	max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.pro_con1
{
	width:9em;
	flex: 12;
}
.pro_con2
{
	width:18em;
	flex: 18;
}
.pro_con3
{
	width:18em;
	flex: 18;
}
.pro_con4
{
	width: 3em;
    min-width: 2em;
    flex: 1;
}
.pro_con5 {
	width: 6em;
    min-width: 6em;
    flex: 2;
}

.pro_con6 {
	width: 6em;
    min-width: 6em;
    flex: 2;
}
.pro_con7 {
	/*display: none;*/
    min-width: 3.4em;
    flex: 0.5;
	    position: relative;
}
.pro_con8 {
	/*display: none;*/
    min-width: 3.4em;
    flex: 0.5;
	    position: relative;
}
.pro_con9 {
	/*display: none;*/
    min-width: 4.4em;
    flex: 0.5;
	    position: relative;
}

.data_room1 {
    background-color: #9e2e3e;
    color: white;
}
.data_room2 {
    background-color: #191c2b;
    color: white;
}
.bom_con1.dr0, .bom_con2.dr0, .bom_con3.dr0, .bom_con4.dr0 {
    background-color: #b99768;
}

.bom_con1
{
	min-width:8em;
	width:10em;
	/*flex:1;*/
}
.bom_con2
{
	flex:1;
	min-width:0;
	max-width: 750px;
}
.bom_con3
{
	min-width:3em;
	width:3em;
	/*flex:1;*/
}
.bom_con4
{
	min-width:7em;
	width:8em;
	flex:1;
}

.use_con1
{
	min-width:8em;
	width:10em;
	flex:1;
}
.use_con2
{
	/*flex:1;*/
	min-width: 2.4em;
    width: 2.6em;
}
.use_con3
{
    min-width: 2.6em;
    width: 2.6em;
	/*flex:1;*/
}
.use_con4
{
	min-width:7em;
	width:8em;
	flex:1;
}


.sk_data6.dr1 {
    word-break: break-word;
}

#spec_port{
	display: flex;
	margin-bottom:1em;
}

#spec_port > div{
	padding: 2px 2em 2px 2px;
}

.port_count {
	width: 1em;
}

.SK_SPEC {
    display: none;
    background-color: rgb(255 255 255 / 76%);
	position: absolute;
	right: 0;
    z-index: 1;
    width: 26em;
    min-height: 1.5em;
	height: auto;
}
.SK_SPEC_tittle {
	background-color: #9e2e3e;
    color: white;
}

.SK_SMNETS_EN {
    display: none;
    background-color: rgba(255, 228, 196, 0.95);
	position: absolute;
	/*left: 0;*/
	right: -1px;
    z-index: 1;
    width: 36em;
	    /*min-width: 26em;
    max-width: 1000px;*/
    min-height: 1.5em;
	padding: 0.5em;
}

.SK_SPEC > table {
    background-color: #f7c4c4;
	word-break: break-word;
}

.pro_maker {
	display: none;
}
.pro_maker_c {    
	border: solid #e41d1d;
    border-width: 4px 2px 4px 2px;
}

.pro_c_t {
	display: inline-block;
}
#copy_statu {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 6em;
	height: 2em;
	font-size: 150%;
	margin: -1em -3em;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: wheat;
}
#show_SPEC_S3{
	/*display:block;*/
}
#statu_check {
	    display: inline-block;
    vertical-align: top;
}
.BOM {
	    display: none;
		    /*display: inline-block;*/
        width: 680px;
    right: 0;
    position: absolute;
    z-index: 1;
}
.USE {
	    display: none;
		    /*display: inline-block;*/
        width: 680px;
    right: 0;
    position: absolute;
    z-index: 1;
}
.qty {
    position: absolute;
    display: none;
    background-color: #7292bf;
    width: 26em;
    /*left: -21em;*/
	right:-1px;
	z-index:1;
}

.spec_input_aren > label {
	display: flex;
    width: 6em;
	align-items: center;
}

.spec_input_aren > input[type="text"] {
	height:17px;
	width: calc(100% - 6em - 20px);
}

#zh-tw_spec > input {
	/* width: calc(100% - 6em - 20px); */
}

.spec_input_aren {
	display: flex;
    flex-wrap: wrap;
    width: 572px;
}

form {
	font-size:15px;
}

#zh-tw_spec {
	float: left;
	margin: 0 1px 0 0;
}

#spec_input_content {
	display: flex;
    flex-wrap: wrap;
}

#en-us_spec > label {
	display: none;
}

#en-us_spec {
	/*width: min-content;*/
}

.spec_input_title {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
    text-align: center;
}
#zh-tw_spec > .spec_input_title {
    margin-left: 6em;
}

#en-us_spec > .spec_input_title {
    /* padding-right:95px; */
	display: flex;
}

#title_en {
	width: calc(100% - 6em);
}

#title_example {
	width: 5em;
}

.description_input_aren, .features_input_aren{
	display: flex;
    flex-direction: row;
	border: 1px black solid;
	max-width: 1080px;
	margin: 5px 0;
}

.description_input_title, .features_input_title{
	width: 4em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px black solid;
}

.text_input_aren{
	display: flex;
    flex-direction: column;
    flex: 4;
}

#description_input_content textarea {
	min-width: 200px;
    min-height: 150px;
	max-width:1080px;
	max-height: 300px;
	width: auto;
}


input[type="button" i]:disabled{
  /*border: 1px solid #999;*/
  /*background-color: #cccccc;*/
  color: #666666;
}

.ex_tw, .ex_en{
	display:none;
}

/*@media only screen and (max-width: 704px)*/
@media only screen and (max-width: 940px) {
	#statu_check {
		word-break: break-all;
	}
	.BOM {
		word-break: break-all;
		width: auto;
		position: static;
		z-index:0;
	}
	.USE {
		word-break: break-all;
		width: auto;
		position: static;
		z-index:0;
	}
	#main_content {
		display: block;
	}
	.data_room_con
	{
		display: none;
	}
	
	.data_room_con1
	{
		height: auto;
	}
	.dr, .dr1
	{
		display: inline-block;
		border: 1px solid #8AC007;
		padding:0.15em 0;
		width: 100%;
		margin-right: 0.4em;
	}
	.dr
	{
		width: 5.6em;
		min-width: 4.6em;
			border: 1px solid #D4AEAE;
		background-color: darkgrey;
		color: white;
		font-weight: bold;
		margin-right: 0.2em;
	}
	.dr1
	{
		position: relative;
		height: auto;
	}
	.bom_data1.dr, .bom_data2.dr, .bom_data3.dr, .bom_data4.dr {
		background-color: #b99768;
	}
	.data_room_con1
	{
		border: 1px solid #000;
		display: block;
	}
	.data_room_con2
	{
		border: 1px solid #000;
		display: block;
	}
	.pn {
		display: flex;
		flex-direction: row;
		width: 100%;
		border: 0;
	}
	
	.pro_con0
	{
		height:10em;
	}

	.pro_con0,.img-responsive
	{
		min-width:8em;
		/*flex:1;*/
	}
	.img-responsive {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.pro_con1
	{
		min-width:8em;
		/*flex:1;*/
	}
	.pro_con2
	{
		flex:3;
		min-width:0;
	}
	.pro_con3
	{
		min-width:5em;
		/*flex:1;*/
	}
	.pro_con4
	{
		/*display: none;*/
		min-width:8em;
		/*flex:1;*/
	}
	.pro_con5 {
		/*display: none;*/
		min-width:0em;
		flex:1;
	}
	.pro_con6 {
		/*display: none;*/
		min-width:0em;
		flex:1;
	}
	.pro_con7 {
		/*display: none;*/
		min-width:0em;
		flex:1;
	}
	.pro_con8 {
		/*display: none;*/
		min-width:0em;
		flex:1;
	}
	.pro_con9 {
		/*display: none;*/
		min-width:0em;
		flex:1;
	}
	.SK_SPEC {
		/*width: 95%;*/
		min-width: 0;
		display: none;
	}

	.SK_SMNETS_EN {
		position: static;
		width: 100%;
		min-width: 0;
		display: none;
		padding: 0;
		flex:1;
	}

	#show_SPEC_S3{
		/*display:block;*/
	}
	#statu_check {
		display: block;
	}

	.qty {
		position: static;
			display: none;
			width: 100%;
	}
	.qty_con1, .qty_con3 {
		min-width: 0;
	}
	div#qty_content {
		max-width: 100%;
	}
}

@media only screen and (max-width: 1404px) {

	.en-us_spec_fit > .spec_input_title{
			/* margin-left: 12em; */
		display: flex !important;
		justify-content: flex-end !important;
	}

	.title_en_fit {
		width: calc(100% - 252px) !important;
	}

	.title_example_fit {
		width: 4.5em !important;
	}


	.spec_input_aren_fit {
		width: auto !important;
	}
	.zh-tw_spec_fit > input[type="text"] {
		width: calc(100% - 6em - 20px - 71.5px) !important;
		height: 28px !important;
	}

	.en-us_spec_fit > input[type="text"] {
		width: calc(100% - 12em - 30px - 71.5px) !important;
			height: 28px !important;
		margin-bottom: 2px !important;
	}

		
	.ex_tw_fit, .ex_en_fit{
		display:flex !important;
		justify-content: flex-end !important;
	}

	.ex_both_fit{
		display:none !important;
	}

	.example_btnexample_btn_fit{
		width: 21px !important;
	}
		
	.en-us_spec_fit > label {
		display: flex !important;
		
		height: 34px !important;
		margin-bottom: 2px !important;
		align-items: center !important;
			border-bottom: 1px #00000059 solid !important;
		width: 12em !important;
	}

	.en-us_spec_fit {
		width: auto !important;
	}

}

@media only screen and (max-width: 1170px) {

	#en-us_spec > .spec_input_title{
			/* margin-left: 12em; */
		display: flex;
		justify-content: flex-end;
	}

	#title_en {
		width: calc(100% - 252px);
	}

	#title_example {
		width: 4.5em;
	}


	.spec_input_aren {
		width: auto;
	}
	#zh-tw_spec > input[type="text"] {
		width: calc(100% - 6em - 20px - 71.5px);
		height: 28px;
	}

	#en-us_spec > input[type="text"] {
		width: calc(100% - 12em - 30px - 71.5px);
		height: 28px;
		margin-bottom: 2px;
	}

		
	.ex_tw, .ex_en{
		display:flex;
		justify-content: flex-end;
	}

	.ex_both{
		display:none;
	}

	.example_btnexample_btn{
		width: 21px;
	}
		
	#en-us_spec > label {
		display: flex;
		
		height: 34px;
		margin-bottom: 2px;
		align-items: center;
			border-bottom: 1px #00000059 solid;
		width: 12em;
	}

	#en-us_spec {
		width: auto;
	}

}
@media only screen and (max-width: 545px) {
	
}
@media only screen and (max-width: 375px) {
	
	#zh-tw_spec > input[type="text"] {
		width: calc(100% - 6em - 20px);
	}
	
	#title_en {
		width: 100%;
	}
	
	#title_example {
		display:none;
	}
	
	#en-us_spec > label {
		align-items: end;
		height: auto;
		margin: 0 0 0 6px;
	}
	
	.example_content {
		width:100%;
	}
	
	#en-us_spec > input[type="text"] {
		width:100%;
	}
	
	.example_btn{
		margin-bottom: 14px;
	}
	
	#en-us_spec > .spec_input_title{
	    margin-left: 0;
		margin-top: 20px;
		padding-right: 0;
	}
}

@media only screen and (max-width: 320px) {
	
	#en-us_spec {
	width: auto;
	}
}